server {
    listen 80;
    server_name myinfoablr.dsysang.site;
    index index.html;
    root /var/www/html;

    include conf.d/common.conf;

    # serve static files
    location ~ ^/(images|javascript|js|css|flash|media|static)/  {
      expires 30d;
    }
}
