upstream app_server {
    # fail_timeout=0 means we always retry an upstream even if it failed
    # to return a good HTTP response

    # for UNIX domain socket setups
    # server unix:/tmp/myl/gunicorn.sock fail_timeout=0;

    # for a TCP configuration
    server myinfoablr-server-1:8000 fail_timeout=0;
}
