.note {
  font-size: smaller;
}

.cirlce {
  background-color: #F05F40;
  position: absolute;
  width: 470px;
  height: 470px;
  top: 4px;
  background-size: cover;
  left: 47px;
  border-radius: 100%;
  box-shadow: 0px 3px 50px rgb(0 0 0 / 16%);
}

.cirlce_left {
  z-index: -1;
  left: 12px;
  top: 91px;
}

.cirlce_right {
  z-index: -2;
  left: 58px;
  top: 143px;
}
